body {
  font-family: Georgia, serif;
  background-color: #f4f1ea
  color #f5e6c8
}
header {
  background: linear-gradient(135deg, #6b4f2a, #9c7a3c);
  color: #fff;
  text-align: center;
  padding: 30px;
}
header a {
  display: inline-block;
  margin-top: 10px;
  color: #f5e6c8;
  text-decoration: none;
  font-weight: bold;
}
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #c9b58ce9;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
main p {
  font-size: 18px;
  line-height: 1.6;
}
ul {
  margin-top: 20px;
  padding-left: 25px;
}
ul li {
  margin-bottom: 10px;
  font-size: 17px;
  background: #dbcbb1;
  padding: 10px;
  border-radius: 10px;
}
footer {
  background-color: #6b4f2a;
  color: #fff;
  text-align: center;
  padding: 15px;
} 